<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="/Mashup/Libs/fontawesome-free/css/fontawesome.css" rel="stylesheet">
        <link href="/Mashup/Libs/fontawesome-free/css/brands.css" rel="stylesheet">
        <link href="/Mashup/Libs/fontawesome-free/css/solid.css" rel="stylesheet">
        <link href="/Mashup/Css/style.min.css" rel="stylesheet">
        <script src="/Mashup/Libs/jquery/jquery.min.js"></script>
        <script src="/Mashup/Libs/webcodecamjs/2.7.0/qrcodelib.js"></script>
        <script src="/Mashup/Language/en.js"></script>
    </head>
    <body>
        <div class="container">
        <!-- MAIN_BEG -->
        <!-- MAIN_END -->
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="/Mashup/Libs/bignumber-rev4/bignumber.min.js"></script>
        <script src="/Mashup/Libs/moment/moment.min.js"></script>
        <script src="/Mashup/Libs/numeral/numeral.min.js"></script>
        <script src="/Mashup/Libs/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="/Mashup/Libs/masonry-layout/masonry.pkgd.min.js"></script>
        <script src="/Mashup/Libs/knockout/knockout-latest.js"></script>
        <script src="/Mashup/Libs/webcodecamjs/2.7.0/webcodecamjquery.js"></script>
        <script>
            // The server has to generate gn_data with the needed data TODO: Help?
            var gn_data = {};
        </script>
        <script src="/Mashup/Js/maframework.min.js"></script>
        <script src="/Mashup/Js/gpsnose.knockout.js"></script>
    </body>
</html>
